out/
out/roku-deploy.zip
out/.roku-deploy-staging/manifest
out/.roku-deploy-staging/components/mainScene.brs
out/.roku-deploy-staging/components/mainScene.xml
out/.roku-deploy-staging/components/tasks/searchResultsCNCreationTask.brs
out/.roku-deploy-staging/components/tasks/searchResultsCNCreationTask.xml
out/.roku-deploy-staging/components/views/baseView.brs
out/.roku-deploy-staging/components/views/baseView.xml
out/.roku-deploy-staging/components/views/detailPage.brs
out/.roku-deploy-staging/components/views/detailPage.xml
out/.roku-deploy-staging/components/views/homeView.brs
out/.roku-deploy-staging/components/views/homeView.xml
out/.roku-deploy-staging/components/views/searchView.brs
out/.roku-deploy-staging/components/views/searchView.xml
out/.roku-deploy-staging/components/widgets/iconItem.brs
out/.roku-deploy-staging/components/widgets/iconItem.xml
out/.roku-deploy-staging/components/widgets/resultsItem.brs
out/.roku-deploy-staging/components/widgets/resultsItem.xml
out/.roku-deploy-staging/components/widgets/sideBar.brs
out/.roku-deploy-staging/components/widgets/sideBar.xml
out/.roku-deploy-staging/images/focus_grid.9.png
out/.roku-deploy-staging/images/icon_focus_hd.png
out/.roku-deploy-staging/images/icon_focus_sd.png
out/.roku-deploy-staging/images/lp.jpeg
out/.roku-deploy-staging/images/rolat-logo-blanco.png
out/.roku-deploy-staging/images/splash_fhd.png
out/.roku-deploy-staging/images/splash_hd.png
out/.roku-deploy-staging/images/splash_sd.png
out/.roku-deploy-staging/source/main.brs
